# Server
PORT=3000

# Database

DATABASE_URL=postgresql://postgres:yourpassword@postgres:5432/zeal

# PostgreSQL container credentials (used by the postgres service in docker-compose.yml)
POSTGRES_PASSWORD=zealpass123
POSTGRES_DB=zeal
POSTGRES_USER=postgres
DATABASE_URL=postgresql://postgres:zealpass123@postgres:5432/zeal
#jwt
JWT_SECRET=6a84c348942c51bb805bb1aef65ef47f91c65751853165f9e46e80aa988df558b0f1b7206b0e23f66634577a6e876dee848a4f02338ab21bd0c30cc590441f7b
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
# gmail
GMAIL_USER=your@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx